$unit: 0.625rem;

// General Color
$color-grey: #646c82;
$color-grey-light1: #a7b1c3;
$color-grey-light2: #cfd9eb;
$color-grey-light3: #ecf1fa;
$color-grey-light4: #f7fafe;
$color-white: white;
$color-blue: #2c8cf5;
$color-blue-light: #46CAFF;
$color-coral: #ff788b;
$color-green: #6ae3b4;

// Semantic Colors
$color-primary: $color-blue;
$color-primary-light: $color-blue-light;
$color-error: $color-coral;
$color-icon: $color-grey-light2;
$color-disabled: lighten($color-grey-light1, 30%);
$color-mute: $color-grey-light1;

// Gradient
$color-gradient-blue: linear-gradient(to right, #0B7AF4, #4ACFFF);
$color-gradient-blue-light: linear-gradient(to right, #2C8CF5, #6AE3C7);
$color-gradient-purple: linear-gradient(to right, #6B6BEF, #FF788B);

// Font-size
$font-size-extra-large: 6 * $unit;
$font-size-large: 4.5 * $unit;
$font-size-big: 2.4 * $unit;
$font-size-medium-plus: 1.8 * $unit;
$font-size-medium: 1.6 * $unit;
$font-size-small: 1.4 * $unit;
$font-size-tiny: 1.2 * $unit;

// Font-weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

// Shadows
$box-shadow: 0 0.3 * $unit 2 * $unit 0 rgba(168,177,196,0.16);
$box-shadow-deep: 0 0.6 * $unit 3.1 * $unit 0 rgba(168,177,196,0.50);


.container {
  background: $color-white;
  border-radius: 0.5 * $unit;
  box-shadow: $box-shadow;
  transition: all 0.5s;
  overflow: hidden;
  min-height: 17 * $unit;

  &:hover {
    box-shadow: $box-shadow-deep;
  }
}

.title {
  line-height: 5 * $unit;
  height: 5 * $unit;
  padding: 0 1.8 * $unit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-medium;
  color: $color-grey;
  font-weight: $font-weight-medium;
}

.card-hover {
  cursor: pointer;
  .title {
    transition: all 0.5s;
  }
  .title-text, .title-extra {
    transition: all 0.2s;
  }
  &:hover {
    .title-text, .title-extra {
      color: $color-white;
      & * {
        color: $color-white;
      }
    }
  }
}

.card-hover-blue {
  composes: card-hover;
  &:hover {
    .title {
      background: $color-blue-light;
    }
  }
}

.card-hover-green {
  composes: card-hover;
  &:hover {
    .title {
      background: $color-green;
    }
  }
}

.card-hover-coral {
  composes: card-hover;
  &:hover {
    .title {
      background: $color-coral;
    }
  }
}

.title-text {
  line-height: 2.4 * $unit;
  width: 100%;
  flex: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title-extra {
  flex: none;
}

.body {
  padding: 1.8 * $unit;
}
